<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Card/Card_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_105.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_106.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_107.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,360},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_108.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,480},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_113.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,600},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_114.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,720},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_115.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_116.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_129.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_130.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_131.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_132.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_145.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_153.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,0},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,86},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,120},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,172},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,240},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,360},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,480},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_65.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,600},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_66.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,720},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_67.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,840},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_68.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,344},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_73.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_74.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,344},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_75.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_76.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_81.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_82.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_83.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,258},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_84.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,344},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_89.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,344},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_90.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,344},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_91.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,344},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_92.png</key>
			<dict>
				<key>frame</key>
				<string>{{858,360},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_97.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,430},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_98.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,464},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
			<key>Card/Card_99.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,430},{86,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>card.png</string>
			<key>realTextureFileName</key>
			<string>card.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>