<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>action/action_bomb_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1179},{131,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,151}</string>
			</dict>
			<key>action/action_bomb_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1021},{162,181}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{166,185}</string>
			</dict>
			<key>action/action_bomb_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{314,1045},{161,181}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,199}</string>
			</dict>
			<key>action/action_bomb_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,853},{168,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{168,183}</string>
			</dict>
			<key>action/action_bomb_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,270},{183,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,49}</string>
			</dict>
			<key>action/action_bomb_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,843},{241,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{242,93}</string>
			</dict>
			<key>action/action_bomb_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,1083},{242,140}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{242,141}</string>
			</dict>
			<key>action/action_bomb_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,843},{271,202}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{272,203}</string>
			</dict>
			<key>action/action_bomb_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,590},{359,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{360,253}</string>
			</dict>
			<key>action/action_bomb_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,794},{308,289}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{308,289}</string>
			</dict>
			<key>action/action_bomb_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{325,350}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{326,351}</string>
			</dict>
			<key>action/action_bomb_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1018},{131,161}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,163}</string>
			</dict>
			<key>action/action_bomb_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,0},{346,338}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,339}</string>
			</dict>
			<key>action/action_bomb_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,595},{325,258}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{338,259}</string>
			</dict>
			<key>action/action_bomb_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,444},{350,242}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{350,243}</string>
			</dict>
			<key>action/action_bomb_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,338},{382,252}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{382,253}</string>
			</dict>
			<key>action/action_bomb_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{439,270}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{440,271}</string>
			</dict>
			<key>action/action_bomb_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,0},{444,230}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{444,231}</string>
			</dict>
			<key>action/action_bomb_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,1206},{131,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,151}</string>
			</dict>
			<key>action/action_bomb_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1338},{128,148}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,149}</string>
			</dict>
			<key>action/action_bomb_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1466},{131,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{132,143}</string>
			</dict>
			<key>action/action_bomb_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,853},{141,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,165}</string>
			</dict>
			<key>action/action_bomb_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,1329},{131,148}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,149}</string>
			</dict>
			<key>action/action_bomb_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,1084},{145,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,165}</string>
			</dict>
			<key>action/action_bomb_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1183},{155,176}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,179}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>action_bomb.png</string>
			<key>realTextureFileName</key>
			<string>action_bomb.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>